@mixin mybtn($bg-color) {
	color: black;
	font-family: inherit;
	font-weight: 300;
	border: none;
	border-radius: 15px;
	display: inline-block;
	padding: $p-inline-block;
	margin: $m-inline-block;
	background-color: $bg-color;
	cursor: pointer;
}

.btn1 {
	@include mybtn($btn-color-info);
}

.btn2 {
	@include mybtn($btn-color-contact);
}

.btn3 {
	@include mybtn($btn-color-login);
}
