$p-inline: 2px;
$p-sm-inline: 4px;
$p-md-inline: 6px;
$p-lg-inline: 8px;
$p-xl-inline: 10px;

$p-block: 2px;
$p-sm-block: 4px;
$p-md-block: 6px;
$p-lg-block: 8px;
$p-xl-block: 10px;

$p-inline-block: 3px;
$p-sm-inline-block: 6px;
$p-md-inline-block: 9px;
$p-lg-inline-block: 12px;
$p-xl-inline-block: 15px;

// margini

$m-inline: 2px;
$m-sm-inline: 4px;
$m-md-inline: 6px;
$m-lg-inline: 8px;
$m-xl-inline: 10px;

$m-block: 2px;
$m-sm-block: 4px;
$m-md-block: 6px;
$m-lg-block: 8px;
$m-xl-block: 10px;

$m-inline-block: 3px;
$m-sm-inline-block: 6px;
$m-md-inline-block: 9px;
$m-lg-inline-block: 12px;
$m-xl-inline-block: 15px;
